{% macro aClass(entry) %}
  {% if entry.url.split("/").length === 3 %}
    block p-4 text-nowrap hover:text-blue-300
  {% endif %}
  {% if entry.url.split("/").length === 4 %}
    block p-4 text-nowrap hover:underline
  {% endif %}
  {% if entry.url.split("/").length >= 5 %}
    block px-4 py-0 text-sm text-nowrap hover:underline
  {% endif %}
{% endmacro %}

{% macro ulClass(entry) %}
  {% if entry.url.split("/").length === 3 %}
    absolute left-0 hidden bg-white text-black shadow-lg group-hover:block
  {% endif %}
{% endmacro %}

{% macro renderNavItem(entry) %}
  {% set children = [] %}
  {% set level = entry.url.split("/").length %}
  {% set Allentries = collections.all %}

  {% for menuEntry in Allentries %}
    {% if menuEntry.url.split("/").length === level + 1 %}
      {%  if menuEntry.url.split("/")[level-2] === entry.url.split("/")[level-2] %}
        {% set children = (children.push(menuEntry), children) %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if children.length %}
    <li class="relative group {% if entry.url.split("/").length === 4 %}hover:bg-gray-100{% endif %}">
      <div>
        <summary>
          <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page"{% endif %} 
          class="{{aClass(entry)}} 
          {% if entry.url.split("/").length === 4 %}-mb-4{% endif %}">
            {{ entry.data.title }}</a>
        </summary>
        <ul role="list" class="{{ulClass(entry)}}
          {% if entry.url.split("/").length >= 4 %}ml-2{% endif %}">
          {%- for child in children %}{{ renderNavItem(child) }}{% endfor -%}
        </ul>
      </div>
    </li>
  {% else %}
    <li class="relative group {% if entry.url.split("/").length === 4 %}hover:bg-gray-100{% endif %}">
      <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}
      class="{{aClass(entry)}}"
      >{{ entry.data.title }}</a> 
    </li>
  {% endif %}
{% endmacro %}