<!DOCTYPE html>
<html lang="{{ meta.language }}">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  <body>
    {% block menu %}
      {% include "menu.njk" %}
    {% endblock %}

    {% block header %}
      {% include "header.njk" %}
    {% endblock %}

    {% block main %}
      <main class="container mx-auto px-6 pt-4 pb-16 {% if ismarkdown %}mkdn{% endif %}">
        {{ content | safe }}
      </main>
    {% endblock %}

    {% block footer %}
        {% include "footer.njk" %}
    {% endblock %}
  </body>
</html>
