{% from '../macros/renderNavListItem.njk' import renderNavListItem with context %}

<nav class="w-full bg-blue-600 text-white">
  {% set allEntries = collections.all %}
  <ul role="list" class="flex">
    <li class="relative group">
    <a href="/" {% if entry.url == "/" %} aria-current="page" {% endif %}
      class="block p-4 text-nowrap hover:text-blue-300"
      >ॐ home</a> 
    </li>
    {%- for entry in allEntries %}
      {% if entry.url.split("/").length === 3 %}
        {# 
        length may be different if the site is not directly under the domain 
        → TODO: set length limit based on site base URL
        Folders with pages and without index will not be listed in the menu
        → TODO: add the documentation explaining that 11ty doesn't add folders to collections
        #}
        {{ renderNavListItem(entry) }}
      {% endif %}
    {% endfor %}
  </ul>
</nav>